@import '../utils/variables';

.card {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0rem 1rem;
    padding-bottom: 2rem;
    align-items: center;
    img{
        width: 100%;
        margin: 0;
        height: 262px;
    }

    h2{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $blue-color;
        width: 100%;
        height: 72px;
        text-align: center;
    }

    .partner-link{
        color: white;
        text-decoration: underline;
    }

    &:hover{
        .partner-link{
            color: blue;
        }
    }
}

@media screen and (max-width: 1042px) {
    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0rem 1rem;
        padding-bottom: 1rem;
    
        img{
            width: 100%;
            margin: 0;
        }
    
        h2{
            font-size: 18px;
            height: 32px;
        }
    }
}