@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$primary-background-color : RGBA(6, 21, 56, 1);
$secondary-background-color : #D8D8D8;
$red-color : RGBA(211, 43, 40, 1);
$blue-color : RGBA(6, 21, 56, 1);

$default-font : 'Poppins', sans-serif;