@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.about {
  width: 100%;
  background-image: url("/public/backgrounds/intensif_dots.png");
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 40vh;
  padding: 7.5rem 0rem;
}
.about .about-style {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.about .about-style .red {
  position: absolute;
  bottom: 30%;
  left: 32.5%;
  width: 50%;
  height: 80%;
  background-color: RGBA(211, 43, 40, 1);
  z-index: 1;
}
.about .about-style .blue {
  position: absolute;
  bottom: 0%;
  left: 27.5%;
  width: 50%;
  height: 100%;
  background-color: RGBA(6, 21, 56, 1);
  z-index: 2;
}
.about .about-style img {
  position: relative;
  width: 50%;
  z-index: 3;
  margin-top: 2rem;
}
.about .about-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.about .about-content h1 {
  font-size: 49px;
  font-weight: 700;
  margin-top: -3rem;
}
.about .about-content p {
  font-size: 17px;
  line-height: 1.5;
  margin: 0.2rem;
  width: 70%;
}

@media screen and (max-width: 1042px) {
  .about {
    width: 100%;
    background-image: url("/public/backgrounds/intensif_dots.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 40vh;
    padding: 5rem 0rem;
  }
  .about .about-style {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .about .about-style .red {
    position: absolute;
    bottom: 35%;
    left: 45%;
    width: 50%;
    height: 80%;
    background-color: RGBA(211, 43, 40, 1);
    z-index: 1;
  }
  .about .about-style .blue {
    position: absolute;
    bottom: 0%;
    left: 35%;
    width: 50%;
    height: 100%;
    background-color: RGBA(6, 21, 56, 1);
    z-index: 2;
  }
  .about .about-style img {
    position: relative;
    width: 60%;
    z-index: 3;
    margin-top: 2rem;
  }
  .about .about-content {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 80%;
  }
  .about .about-content h1 {
    font-size: 24px;
    font-weight: 700;
    margin-top: -3rem;
  }
  .about .about-content p {
    font-size: 14px;
    line-height: 1.5;
    margin: 0.2rem;
    width: 100%;
  }
}